.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.Home .lander {
  padding: 80px 0;
  text-align: center;
  border: solid 1px orange;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.NavLink {
  font-weight:bold;
  color:#999;
}
.NavDropdown {
  color:#999;
  font-weight:bold;
}